.progressbar-title {
    font-size: 14px;
    color: #848484;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.progress {
    height: 5px;
    overflow: visible;
    background: #f0f0f0;
    margin-bottom: 40px;
}

.progress .progress-bar {
    position: relative;
    animation: animate-positive 1s;
}

.progress .progress-icon {
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    top: -14px;
    right: -15px;
    background: #fff;
    border-width: 3px;
    border-style: solid;
}

.progress-value {
    font-size: 13px;
    color: #848484;
    position: absolute;
    top: 16px;
    right: -10px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}