/* h1,h2,h3,h4,h5,h6,p{
    color: aliceblue;
} */
.menu-wrap{
    background-color: rgb(220 53 69 / 35%) !important;
}
.site-navbar{
    background-color: pink;
}
.dropdown-menu{
    background-color: #ffbbde;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: #f3d0f3;
}
.site-footer{
    background: rgb(255 0 24 / 25%);
}
.card{
    background-color: rgb(255 255 255 / 60%);
}