.site-navbar{
    background-color: cyan !important;
}
.menu-wrap{
    background-color: #17b8b069 !important;
}
.dropdown-menu{
    background-color: #bcf6fff2;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: #a9eaff;
}
.site-footer{
    background: rgb(255 0 24 / 25%);
}
.card{
    background-color: #178cb838;
}
.modal-content{
    background-color: #b5f5ff;
}