.site-navbar{
    background-color: #b5ffff !important;
}
.menu-wrap{
    background-color: #17b8b069 !important;
}
.dropdown-menu{
    background-color: #bcf6fff2;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: #a9eaff;
}
.site-footer{
    background: #13899bde;
}
.card{
    background-color: #178cb838;
}
.modal-content{
    background-color: #b5f5ff;
}
