h1,h2,h3,h4,h5,h6,p{
    color: #242424;
}
a:hover{
    color: aliceblue;
}
.menu-wrap{
    background-color: #dbefdc !important;
}
.site-mobile-menu{
    background-color: #dbefdc !important;
}
.site-navbar{
    background-color: #85e889;
}
.nav-link:hover{
    color: #6ec071 !important;
}
.dropdown-menu{
    background-color:#dbefdc;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: #6ec071;
}
.site-footer{
    background: #4caf8c87;
}
.card{
    background-color: rgb(255 255 255 / 60%);
}